body {
  background: transparent; /* Make it white if you need */
  color: rgb(112, 150, 173);
  background-color: rgb(14, 30, 30);
  padding: 0 24px;
  margin: 0;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.control {
  gap: 8px;
  height: 10vh;
}

.tasks {
  height: 90vh;
}

.container {
  font-family: sans-serif;
  display: grid;
  gap: 20px;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 3fr 1fr;
}

.task-input {
  grid-row: 2;
  grid-column: 1;
}

.task-list {
  grid-row: 3;
  grid-column: 1;
}

.task-rate {
  grid-row: 2;
  grid-column: 2;
}

.task-rating {
  grid-row: 3;
  grid-column: 2;
  font-weight: bold;
}


div {
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 16px;
  border: 2px transparent;
}

.rating-table {
  border: 1px transparent hwb(272 11% 10%);
}

.table-button { 
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 100%;
  background-color: rgb(213, 213, 249);
}

.rating-table-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
  font-size: 12px;
}

.rating-table-text:hover {
  overflow: visible;
}

.picked_table_button {
  background-color: lightblue;
}

input {
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid rgb(27, 27, 35);
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: rgb(213, 213, 249);
}

input:hover {
  background-color: rgb(171, 140, 222);
}

input:active {
  background-color: rgb(150, 150, 150);
}

h1 { 
  text-align: center;
  font-size: 20px;
}

.instructions {
  font-size: 16px;
  color: rgb(180, 180, 180);
  grid-row: 1;
  grid-column: 1 / span 2;
} 

.save-load {
  grid-row: 1;
  grid-column: 3;
  gap: 12px;
}

.drop-container {
  font-size: 16px;
  padding: 8px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(213, 213, 249);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  text-decoration: none;
  display: block;
  cursor: pointer;
  user-select: none;
}

.dropdown-content li:hover {
  background-color: lightblue;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .drop-container {background-color: #3e8e41;}